include ../../../includes/general.pug
include ../global.pug
table(width=max_w align="center" class="mobile-table")&attributes(tableAtt)
  tr
    td
      table(width="100%" bgcolor="#044767")&attributes(tableAtt)
        +vSpacer(35)
        tr
          td
            table(width="100%")&attributes(tableAtt)
              tr
                +hSpacer(35)
                td
                  table(width="100%")&attributes(tableAtt)
                    tr
                      td(width="250" align="left" valign="top" style="font-size:30px;").mobile-table.mobile-center.white.f_bold.
                        Welcome
                      +hSpacer(161)
                      td(width="119" align="right" valign="top").mobile-hide
                        table(width="100%" align="right")&attributes(tableAtt)
                          +vSpacer(9)
                          tr
                            td(width="92" style="font-size: 18px;").f_normal
                              +link("https://google.com", "More Info &nbsp;").white.no-underline
                            td(width="27").f_normal
                              a(href="#" target="_blank").white.no-underline
                                +addImg("shop.png", "shop alt")(width="27" height="23")
                +hSpacer(35)
        +vSpacer(35)
